# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
.DS_Store
